html * {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
}
:root {
  --navColor: #000000;
  --textColor: #fff;
  --textColor: #ffffff;
  --navItemcolor: #d5d5d5;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #000000;
  color: #fff;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}

.navbar-brand {
  float: left;
  min-height: 55px;
  padding: 0 15px 5px;
}

.navbar-brand img {
  position: absolute;
  left: -30px;
  top: 10px;
}
.wrapper {
  max-width: 960px; /* 20px smaller, to fit the paddings on the sides */
  padding-right: 10px;
  padding-left: 10px;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
  color: #ffffff;
  /* background-color: #000000; */
  /* border-radius: 30%; */
}

.navbar-inverse .navbar-nav li a {
  color: var(--navItemcolor);
}

.header {
  margin-top: 25px;
  margin-right: 40px;
  margin-left: 25px;
}

form {
  margin-top: 25px;
  margin-right: 40px;
  margin-left: 25px;
}

@media (max-width: 480px) {
  #div {
    top: 50%; /* IMPORTANT */
    left: 50%; /* IMPORTANT */
    display: block;
    position: absolute;
    background: url(images/background.png) no-repeat center center;
    width: 750px;
    height: 417px;

    margin-top: -208.5px; /* HALF OF THE HEIGHT */
    margin-left: -375px; /* HALF OF THE WIDTH */
  }

  #map {
    height: 600px;
    width: 100%;
  }
}
